footer {
  background-color: var(--footer-color);
  padding: 60px 0;
  margin: 0 auto;

  & > .container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  & .logo {
    margin-bottom: 20px;
    display: inline-block;
    margin-right: 0;
  }
}

.address-list {
  &__link {
    color: var(--hero-text-color);
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    text-decoration: none;
  }

  &__item:not(:last-of-type) {
    margin-bottom: 9px;
  }

  &__link--mail,
  &__link--tel {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    transition-property: color;
    text-decoration: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  

  &__link--mail:hover,
  &__link--tel:hover,
   &__link--mail:focus,
   &__link--tel:focus
  {    color: var(--nav-text-color);
  }


}

.footer-title {
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 14px;
}

/* Footer form */

.footer-form {
  display: flex;
  align-items: flex-end;
  gap: 12px;

  &__text {
    color: var(--hero-text-color);
    line-height: 1.19;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
    display: block;
  }
  &__input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: var(--footer-color);
    font-size: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: var(--hero-text-color);
    padding: 15px 0 15px 16px;
  }

  &__input::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }

  &__button {
    min-width: 200px;
    min-height: 50px;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: var(--hero-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    gap: 10px;
    border: none;
    border-radius: 4px;
  }

  &__icon {
    fill: var(--hero-text-color);
  }
}
