.header {
  border: 1px solid #ececec;

  &__container {
    display: flex;
    align-items: center;
   
}
}
.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;

  &__list {
    display: flex;
    gap: 50px;
    align-items: center;
    

    @media screen and (max-width:767px) {
    display: none;
    }
  }

  &__item {
    position: relative;
  }

  &__link {
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  &__link--current {
    color: var(--nav-text-color);
  }

  &__link--current::after {
    width: 100%;
    height: 4px;
    background-color: var(--button-color);
    border-radius: 2px;
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
  }
}

.contact-list {
  display: flex;
  align-items: flex-start;

  flex-direction: column;
  gap: 10px;

  @media screen and (max-width:767px) {
      display: none;
    }

        @media screen and (min-width:1200px) {
          flex-direction: row;
          gap: 50px;
        }

  &__icon {
    fill: currentColor;
    margin-right: 10px;
  }

  &__link {
    font-size: 12px;
    color: var(--undertitle-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
    @media screen and (min-width:1200px) {
      font-size: 14px;
    }
  }
}

.header-nav__link:hover,
.header-nav__link:focus,
.contact-list__link:hover,
.contact-list__link:focus {
  color: var(--nav-text-color);
}


.menu-toggle {
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 0px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
@media screen and (min-width:768px) {
    display: none;
  }

     &:hover,
     &:focus {
       fill: var(--nav-text-color);
     }
}
