:root {
  --primary-text-color: #212121;
  --title-text-color: #212121;
  --undertitle-text-color: #757575;
  --nav-text-color: #2196f3;
  --primary-backgroundcolor: #ffffff;
  --secondary-backgroundcolor: #f5f4fa;
  --button-color: #2196f3;
  --logo-color: #000000;
  --hero-text-color: #ffffff;
  --hero-background-color: #2f303a;
  --picture-background-color: #eeeeee;
  --hero-overlay-color: rgba(47, 48, 58, 0.4);
  --hero-background-color: #c4c4c4;
  --footer-color: #2f303a;
  --icon-footer-background: rgba(255, 255, 255, 0.1);
}

body {
  background-color: var(--primary-backgroundcolor);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

/* reset */
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* Класс для обнуления базовых свойств у списков (ul) */
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
/* Класс для обнуления базовых свойств у ссылок */
.link {
  text-decoration: none;
  color: inherit;
}
/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Свойства для обнуления курсива у address */

address {
  font-style: normal;
}

/* utils */
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Header */

.header {
  border: 1px solid #ececec;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header__container {
  display: flex;
  align-items: center;
}
.logo {
  color: var(--nav-text-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  margin-right: 93px;
}
.logo__accent {
  color: var(--logo-color);
}

/* site-nav */

.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.header-nav__list {
  display: flex;
  gap: 50px;
  align-items: center;
}

.header-nav__item {
  position: relative;
}

.header-nav__link {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-nav__link--current {
  color: var(--nav-text-color);
}

.header-nav__link--current::after {
  width: 100%;
  height: 4px;
  background-color: var(--button-color);
  border-radius: 2px;
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
}

.header-nav__link:hover,
.header-nav__link:focus,
.contact-list__link:hover,
.contact-list__link:focus {
  color: var(--nav-text-color);
}
.contact-list__icon {
  fill: currentColor;
  margin-right: 10px;
}

.contact-list {
  display: flex;
  align-items: center;
  gap: 50px;
}

.contact-list__link {
  color: var(--undertitle-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Main */
.hero {
  background-color: var(--hero-background-color);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(to right, var(--hero-overlay-color), var(--hero-overlay-color)),
    url(../images/background-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
}
.hero-title {
  width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  color: var(--hero-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  cursor: pointer;
  color: var(--hero-text-color);
  background-color: var(--button-color);
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
}

/* Modal */

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 0;
  top: 0;
  opacity: 1;
  visibility: visible;
  z-index: 10;
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden.backdrop {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close-btn {
  fill: currentColor;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 8px;
  top: 8px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover {
  fill: var(--nav-text-color);
}

.close-btn:focus {
  fill: var(--nav-text-color);
}

/* <!--Form> */

.register-form__title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--title-text-color);
}

.form-field {
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.register-form__agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  gap: 7px;
  position: relative;
}

.register-form__icon {
  background-color: transparent;
}

.register-form__icon--checked {
  opacity: 0;
  fill: var(--hero-text-color);
  transition-property: opacity, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.register-form__checkbox:checked + .register-form__icon .register-form__icon--checked {
  opacity: 1;
}

.register-form__checkbox:checked + .register-form__icon {
  background-color: var(--nav-text-color);
}

.register-form__icon--unchecked {
  opacity: 1;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.register-form__checkbox:checked + .register-form__icon .register-form__icon--unchecked {
  opacity: 0;
}

.register-form__link {
  color: var(--nav-text-color);
}

.register-form__desc {
  line-height: 1.71;
  color: var(--undertitle-text-color);
}

.form-field__label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--undertitle-text-color);
  display: block;
  margin-bottom: 4px;
}

.comment {
  margin-bottom: 20px;
}

.form-field__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  padding-right: 42px;
  outline: transparent;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__input:focus + .form-field__icon {
  fill: var(--nav-text-color);
}

.form-field__input:focus {
  border-color: var(--nav-text-color);
}

.register-form__btn {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  background: var(--nav-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: var(--primary-backgroundcolor);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

textarea {
  width: 448px;
  height: 120px;
}

.form-field__textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  resize: none;
  padding: 16px 12px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__textarea:focus {
  border-color: var(--nav-text-color);
}

.form-field__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

/* portfolio */

.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project-item__link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 1px transparent, 1px 4px 6px transparent;
}
.project-item__link:hover,
.project-item__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-item__overlay {
  position: relative;
  overflow: hidden;
}

.project-item__text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  transform: translateY(100%);
  background: rgba(33, 150, 243, 0.9);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-item__link:hover .project-item__text,
.project-item__link:focus .project-item__text {
  transform: translateY(0);
  color: var(--hero-text-color);
}

.project-item {
  border: 1px solid #eeeeee;
  width: calc((100% - 60px) / 3);
}

.project-item__wrapper {
  padding: 20px 24px;
}
.button-portfolio {
  cursor: pointer;
  color: var(--primary-text-color);
  background-color: var(--secondary-backgroundcolor);
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  border: none;
  padding: 6px 22px;
  border-radius: 4px;
  box-shadow: 0px 3px 1px transparent, 0px 1px 2px transparent, 0px 2px 2px transparent;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio.active {
  color: var(--hero-text-color);
  background-color: var(--nav-text-color);
}

.button-portfolio:hover,
.button-portfolio:focus {
  color: var(--hero-text-color);
  background-color: var(--nav-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-btn-list {
  display: flex;
  gap: 8px;
  margin-bottom: 50px;
  justify-content: center;
}

/* .image-portfolio {
  background-color: url(/images/portfolio/our-people.jpg);
} */

/* advatages */

.advantages-list {
  display: flex;
  gap: 30px;
}

.advantages-list__title {
  line-height: 1.14;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 10px;
}

.advantages-list__icon-thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-backgroundcolor);
  min-height: 120px;
  margin-bottom: 30px;
}

.advantages-list__item {
  width: calc((100% - 90px) / 4);
}

.advantages-list__text {
  color: var(--undertitle-text-color);
  line-height: 1.71;
}

/* About */

.about {
  padding-top: 0;
}

.about-list {
  display: flex;
  gap: 30px;
}

.about-list__item {
  position: relative;
}

.about-list__text {
  position: absolute;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0px;
  text-align: center;
  padding: 27px 0;
  color: #ffffff;
  text-transform: uppercase;
}

/* Team */

.team {
  background-color: var(--secondary-backgroundcolor);
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-list__item {
  background-color: var(--primary-backgroundcolor);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list__wrapper {
  padding-top: 30px;
}

.team-list__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}

.team-list__text {
  color: var(--undertitle-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.social-network-list {
  display: flex;
  gap: 10px;
  padding-bottom: 30px;
  justify-content: center;
}

.social-network-list__link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-decoration: none;
  color: #afb1b8;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-network-list__link:hover,
.social-network-list__link:focus {
  color: var(--hero-text-color);
  background-color: var(--nav-text-color);
}

.social-network-list__link--accent-bg {
  background-color: var(--icon-footer-background);
}

.social-network-list__icon {
  fill: currentColor;
}

.social-network-list__icon--accent-color {
  fill: var(--hero-text-color);
}

/*Client companies*/

.clients-list {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition-property: border-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__icon {
  fill: currentColor;
}

.clients-list__link:hover,
.clients-list__link:focus {
  border-color: var(--nav-text-color);
  color: var(--nav-text-color);
}

.project-item__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.project-item__type {
  font-size: 16px;
  line-height: 1.88;
  color: var(--undertitle-text-color);
}

/* footer */
.footer {
  background-color: var(--footer-color);
  padding: 60px 0;

  margin: 0 auto;
}

.footer .logo {
  margin-bottom: 20px;
  display: inline-block;
  margin-right: 0;
}

.address-list__link {
  color: var(--hero-text-color);
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  text-decoration: none;
}

.address-list__item:not(:last-of-type) {
  margin-bottom: 9px;
}

.address-list__link--mail,
.address-list__link--tel {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  transition-property: color;
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list__link:hover,
.address-list__link:focus,
.tel-footer:hover,
.tel-footer:focus {
  color: var(--nav-text-color);
}

/* .address-list {
    display: flex;
    flex-direction: column;
    gap: 9px;
} */
.address-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-title {
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 14px;
}
.social-network-list-footer {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.footer > .container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.footer .social-network-link {
  color: var(--hero-text-color);
  background-color: var(--icon-footer-background);
}

.social-network-link:hover,
.social-network-link:focus {
  color: var(--hero-text-color);
  background-color: var(--nav-text-color);
}

/* Footer form */

.footer-form {
  display: flex;
  align-items: flex-end;
  gap: 12px;
}

.footer-form__text {
  color: var(--hero-text-color);
  line-height: 1.19;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
  display: block;
}

.footer-form__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: var(--footer-color);
  font-size: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--hero-text-color);
  padding: 15px 0 15px 16px;
}

.footer-form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__button {
  min-width: 200px;
  min-height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--hero-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  gap: 10px;
  border: none;
  border-radius: 4px;
}

.footer-form__icon {
  fill: var(--hero-text-color);
}
